version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus_monitoring_server
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/promtheus.yml:ro
      - ./promtheus/alerts.yml:/etc/prometheus/alerts.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-lifecycle"
      - "--web.external-url=http://localhost:9090"
    restart: unless-stopped
    networks:
      - observability

  alertmanager:
    image: prom/alertmanager:latest
    container_name: prometheus_alertmanager
    volumes:
      - ./alertmanager/config.yml:/etc/alertmanager/config.yml:ro
    ports:
      - "9093:9093"
    command:
      - "--config.file=/etc/alertmanager/config.yml"
      - "storage.path=/alertmanager"
    restart: unless-stopped
    networks:
      - observability

  node-exporter:
    image: prom/node-exporter:latest
    container_name: prometheus_node-exporter
    pid: host
    ports:
      - "9100:9100"
    command:
      - "--path.rootfs=/host"
    volumes:
      - "/:/host:ro,rslave"
    restart: unless-stopped
    networks:
      - observability

  grafana:
    image: grafana/grafana:main
    container_name: grafana_performance_dashboard
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    restart: unless-stopped
    networks:
      - observability

volumes:
  prometheus_data:

networks:
  observability:
    driver: bridge
