# This workflow will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# To use this workflow, ensure .github/labeler.yml file is setup with your
# specific configuration.

name: Pull Request Labeler
on:
  - pull_request_target

jobs:
  label:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
    - uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        skip-untouched: true
        debug: false
